@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  word-break: break-word;
}

.checkbox-item .mantine-Checkbox-label {
  display: flex;
  justify-content: space-between;
}
.checkbox-item .mantine-Checkbox-labelWrapper {
  width: 100%;
}